h1 {
  text-align: center;
  font-family: Hack;
  font-size: 50px;
  color: steelblue;
  background: white;
  opacity: 0.9;
  padding: 10px;
  margin-right: 350px;
  margin-left: 350px;
}


form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  width: 300px;
  justify-content: center;
  font-family: Hack;
  color: white;
  background: steelblue;
  opacity: 0.9;
  padding: 20px;
}


.is-invalid {
  border: 1px solid red;
}

.invalid:focus {
  outline: none;
  border-color: darkred;
}
